<!DOCTYPE html>
<html lang="en">
<head th:replace="fragment/index :: head ('About us and Jobs | ProxyCrawl - Anonymous crawler proxy')"></head>
<body class="about-us ">
<header class="header-bar" th:replace="fragment/index :: header (false)"></header>
<main>
  <section class="text-center mtxxl">
    <div class="grid-x">
      <div class="cell"><h1>WE LOVE DATA</h1></div>
    </div>
  </section>
  <section class="info-box">
    <div class="grid-container">
      <div class="grid-x mbxxl">
        <div class="medium-8 medium-offset-2 text-center cell">
          <p>At ProxyCrawl we care about data, all our team loves
          the freedom that the internet gives to access anything at any time and that's what we want to share and
          provide to the world.</p>
          <p>Internet should be open and accessible for everyone.</p>
        </div>
      </div>
      <div class="grid-x">
        <div class="medium-4 cell">
          <img src="/assets/images/logo-square-blue-10d06e6e0c.jpg"
               srcset="/assets/images/logo-square-blue-10d06e6e0c.jpg 1x, /assets/images/logo-square-blue@2x-c59661d0ec.jpg 2x"
               alt="ProxyCrawl about us" width="600" height="600">
        </div>
        <div class="medium-6 medium-offset-1 cell text-center ptxl">
          <h1 class="mtxxl">- Our Mission -</h1>
          <p class="h2">Provide an easy way for companies to access internet data</p>
        </div>
      </div>
      <div class="grid-x mtxxl">
        <div class="medium-8 medium-offset-2 cell">
          <h1 class="mtxxl text-center">- Our Principles -</h1>
          <p class="h4 mtxxl">We operate our business under the following guiding principles:</p>
          <ul class="mtl principles-list">
            <li>Our idea from day one has been to create, produce and serve a super easy way to access data.</li>
            <li>We strive for efficient, uncompromised, sincere, fabulous, caring and exceptional service (as close to perfect as possible).</li>
            <li>We want to be a good place to find data for everyone. We also want to be considered a good place to scrape or crawl the web.</li>
            <li>We provide a caring, genuine, free-spirited, diverse place to work.</li>
            <li>We are excited about building strong relationships with everyone we interact with: our customers and our community.</li>
            <li>Community is very important to us, and we are an active part of the open source community.</li>
            <li>We communicate lavishly – with our customers and within our organization.</li>
            <li>We provide freedom in all possible ways.</li>
            <li>We want to be a place to learn.</li>
          </ul>
        </div>
      </div>
    </div>
    <section class="info-box mtxxl">
      <div class="grid-x">
        <div class="cell"><h1 class="text-center">- The Team -</h1></div>
      </div>
      <div class="grid-x mtxxl">
        <div class="medium-6 cell">
          <img src="/assets/images/proxycrawl-team-8898bc8e3c.jpg" alt="ProxyCrawl team" width="2000" height="834">
        </div>
        <div class="small-10 small-offset-1 medium-4 xlarge-3 xlarge-offset-1 cell">
          <h2 class="text-center mtl">We love remote</h2>
          <p class="mtl">We are a multi-cultural team working remotely worldwide in different countries and different timezones.</p>
          <p class="mtl">
            Our team structure is greatly inspired by
            <a href="https://github.com" target="_blank" rel="nofollow">Github company</a>
            where the different teams work remotely to achieve a common goal.
          </p>
        </div>
      </div>
      <div class="grid-x mtxxl">
        <div class="small-10 small-offset-1 medium-4 xlarge-3 xlarge-offset-2 cell">
          <h2 class="text-center mtl">Our offices</h2>
          <p class="mtl">As part of being remote, we don't have a single office or workplace.</p>
          <p class="mtl">
            Our team members are distributed in different locations and timezones worldwide, working
            remotely from shared workspaces, small offices, homes, coffee shops and open spaces like nature and
            parks.
          </p>
          <p class="mtl">Our freedom principle applies for both our clients and our team.</p>
        </div>
        <div class="medium-6 medium-offset-1 cell">
          <img src="/assets/images/remote-office-5227ede4e4.jpg"
               alt="ProxyCrawl remote office" width="2000" height="922">
        </div>
      </div>
    </section>
    <a id="jobs"></a>
    <section class="mtxxl">
      <div class="grid-container">
        <div class="grid-x mbxxl">
          <div class="cell">
            <h1 class="text-center mtxxl">- Job Openings -</h1>
            <p class="mtxl text-center">We are constantly growing and looking for new team members to join our worldwide remote team.</p>
          </div>
          <div class="medium-6 medium-offset-3 cell">
            <ul class="job-openings">
              <li>Remote cloud-computing infrastructure engineer</li>
              <li>Remote senior backend engineer (ruby)</li>
              <li>Remote software engineer</li>
              <li>Remote senior network engineer</li>
              <li>Remote marketing specialist / product marketer</li>
              <li>Remote customer acquisition specialist</li>
            </ul>
          </div>
          <div class="cell mtxl">
            <p class="text-center">If you think you can fit in our fight for data freedom, feel free to send us your CV at jobs [at] proxycrawl [dot] com</p>
          </div>
        </div>
      </div>
    </section>
    <section class="mtxxl">
      <div class="grid-container">
        <div class="grid-x mbxxl">
          <div class="cell text-center">
            <h1 class="mtxxl">- Say Hello -</h1>
            <p class="mtxl text-center">We like to know more about your project, so feel free to send us a message by using our contact form.</p>
          </div>
        </div>
        <div class="grid-x mtxl mbxxl text-center">
          <div class="medium-6 cell">
            <a class="button large cta plxl prxl" href="/contact" title="Contact ProxyCrawl">Say Hello 👋</a>
          </div>
          <div class="medium-6 cell">
            <a class="button large cta plxl prxl" href="/signup?signup=about-us" title="Create an account in ProxyCrawl">Sign Up to ProxyCrawl 👍</a>
          </div>
        </div>
      </div>
    </section>
  </section>
</main>
<footer class="footer" th:replace="fragment/index :: footer"></footer>
<script src="/assets/js/main.js" async></script>
</body>
</html>