<!DOCTYPE html>
<html lang="en">
<head th:replace="fragment/index :: head ('Anonymous crawler Privacy | ProxyCrawl')"></head>
<body class="privacy ">
<header class="header-bar" th:replace="fragment/index :: header (false)"></header>
<div class="info-box colored">
  <div class="grid-container">
    <div class="grid-x mtxxl">
      <div class="cell text-center">
        <h2>Privacy policy</h2>
      </div>
    </div>
    <div class="grid-x mtxxl align-middle">
      <div class="cell">
        <p>This privacy policy has been compiled to better serve those who are concerned with how their 'Personally
          identifiable information' (PII) is being used online. PII is information that can be used on its own or with
          other information to identify, contact, or locate a single person, or to identify an individual in context.
          Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or
          otherwise handle your Personally Identifiable Information in accordance with our website. ProxyCrawl is GDPR
          compliant and you can find more information about it below.</p>
        <h5>What personal information do we collect from the people that visit our blog, website or app?</h5>
        <p>We do not collect any personal information from visitors of our site.</p>
        <h5>What personal information do we collect from our customers?</h5>
        <p>We do not collect any personal information from our customers except for the email and securely hashed
          password for login purposes, and any other information added by the user and required to operate the
          service.</p>
        <p>None of this information is sold or traded and it's stored for the merely purpose of service operation.</p>
        <p>You can ask for this information to be deleted at any point of time. Please <a href="/contact"
                                                                                          title="Contact us">contact us</a>.</p>
        <h5>How do we protect visitor and user information?</h5>
        <p>Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make
          your visit to our site as safe as possible.</p>
        <p>We use regular Malware Scanning.</p>
        <p>Your personal information is contained behind secured networks and is only accessible by a limited number
          of persons who have special access rights to such systems, and are required to keep the information
          confidential. In addition, all sensitive information you may supply is encrypted via Secure Socket Layer
          (SSL) technology and securely stored. Passwords are hashed and never reversible.</p>
        <p>We implement a variety of security measures when a user places an order enters, submits, or accesses their
          information to maintain the safety of your information.</p>
        <h5>Do we use 'cookies'?</h5>
        <p>Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive
          through your Web browser (if you allow) that enables the site's or service provider's systems to recognize
          your browser and capture and remember certain information. For instance, we use cookies to authenticate you
          between sessions, so you don't have to login everytime you want to access the site. We also use cookies to
          help us compile aggregate data about site traffic and site interaction so that we can offer better site
          experiences and tools in the future.</p>
        <h3>Third Party Disclosure</h3>
        <h5>Do we disclose the information we collect to Third Parties?</h5>
        <p>We do not sell, trade, or otherwise transfer to outside parties any information that we might have about
          you. That is not our business. This does not include trusted third parties who assist us in operating our
          website, conducting our business, or servicing you, so long as those parties agree to keep this information
          confidential.</p>
        <h5>Third party links</h5>
        <p>Occasionally, at our discretion, we may include or offer third party products or services on our website.
          These third party sites have separate and independent privacy policies. We therefore have no responsibility
          or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the
          integrity of our site and welcome any feedback about these sites.</p>
        <h5>Google</h5>
        <p>Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in
          place to provide a positive experience for users.
          <a href="https://support.google.com/adwordspolicy/answer/1316548?hl=en" title="Google Adwords Policy">Google
            Adwords Policy</a></p>
        <p>We might use Google AdSense Advertising on our website and Google Analytics. Google, as a third party
          vendor, uses cookies to serve ads on our site. Google's use of the DART cookie enables it to serve ads to
          our users based on their visit to our site and other sites on the Internet. Users may opt out of the use of
          the DART cookie by visiting the Google ad and content network privacy policy. Google Analytics might store a
          cookie in your browser to track your experience between sessions. Please refer to Google Analytics privacy
          policy to learn more.</p>
        <h5>Other external providers identifiers</h5>
        <p>We might use other third party providers to help us run our business. The only information those providers
          might have is the ip addresses of the user for identification purposes between sessions. No other
          information is shared with them. If you have any concerns for your data, please
          <a href="/contact" title="Contact us">contact us</a> for more information.</p>
        <h5>Payment information details</h5>
        <p>We might use third party providers like Stripe or Paddle to store your payment information. We never store,
          collect or have access to any payment information.</p>
        <h3>COPPA (Children Online Privacy Protection Act)</h3>
        <p>When it comes to the collection of information from children under 13, the Children's Online Privacy
          Protection Act (COPPA) puts parents in control. The Federal Trade Commission, the nation's consumer
          protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services
          must do to protect children's privacy and safety online.</p>
        <h5>Online Privacy Policy Only</h5>
        <p>This online privacy policy applies only to information collected through our website and not to information
          collected offline.</p>
        <h5>Terms and Conditions</h5>
        <p>Please also visit our <a href="/terms" title="Terms and conditions">Terms and Conditions section</a>
          which contains terms of use, disclaimers, and limitations of liability governing the use of our website.</p>
        <h5>Changes to our Privacy Policy</h5>
        <p>If we decide to change our privacy policy, we will post those changes on this page.</p>
      </div>
    </div>
  </div>
</div>
<footer class="footer" th:replace="fragment/index :: footer"></footer>

<script src="/assets/js/main.js" async></script>
</body>

</html>